<main>
    <header>
        <div class="container">
            <div class="row">
                <div class="col s12 m12 l6">
                    <p class="animate__animated animate__backInLeft">{{ 'header.portfolio' | translate }}</p>
                    <h1 class="animate__animated animate__backInLeft"><span>{{ 'header.title' | translate }}</span></h1>
                    <p class="animate__animated animate__backInLeft">Jhon Cardenas C.</p>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="divider"></div>
            </div>
        </div>
    </div>

    <body>
        <section class="s1">
            <div class="container">
                <div class="row">
                    <div class="col s12 m12 l12">
                        <img class="responsive-img circle" src="../../../assets/images/jhon.png" alt="Jhon">
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 m12 l12">
                        <p class="title">Sobre mi</p>
                        <h4>Mi nombre es jhon cardenas. Soy desarrollador front-end, tengo un titulo en tecnologia informatica. Soy un apasionado por la interactvidad entre el cliente el diseño y la funcionalidad, me gusta ser dedicado en lo que hago realizando un desarrollo impeclable y funcional.</h4>
                    </div>
                </div>
            </div>
        </section>
        <section class="s2">
            <div class="container">
                <div class="row">
                    <div class="col s12 m12 l12">
                        <p class="title">Conocimientos</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col s6 m6 l3">
                        <div class="card">
                            <div class="card-image">
                                <img class="responsive-img" src="../../../assets/images/html5.jpg" alt="Html 5 logo">
                            </div>
                            <div class="card-content">
                                <p>70%</p>
                                <div class="progress">
                                    <div class="determinate" style="width: 70%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s6 m6 l3">
                        <div class="card">
                            <div class="card-image">
                                <img class="responsive-img" src="../../../assets/images/css3.jpg" alt="Css 3 logo">
                            </div>
                            <div class="card-content">
                                <p>70%</p>
                                <div class="progress">
                                    <div class="determinate" style="width: 70%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s6 m6 l3">
                        <div class="card">
                            <div class="card-image">
                                <img class="responsive-img" src="../../../assets/images/js.png" alt="Javascript logo">
                            </div>
                            <div class="card-content">
                                <p>70%</p>
                                <div class="progress">
                                    <div class="determinate" style="width: 70%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s6 m6 l3">
                        <div class="card">
                            <div class="card-image">
                                <img class="responsive-img" src="../../../assets/images/sass.png" alt="Sass logo">
                            </div>
                            <div class="card-content">
                                <p>70%</p>
                                <div class="progress">
                                    <div class="determinate" style="width: 70%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s6 m6 l3">
                        <div class="card">
                            <div class="card-image">
                                <img class="responsive-img" src="../../../assets/images/responsiveDesign.png" alt="Responsive design logo">
                            </div>
                            <div class="card-content">
                                <p>70%</p>
                                <div class="progress">
                                    <div class="determinate" style="width: 70%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s6 m6 l3">
                        <div class="card">
                            <div class="card-image">
                                <img class="responsive-img" src="../../../assets/images/materialize.png" alt="Materialize logo">
                            </div>
                            <div class="card-content">
                                <p>70%</p>
                                <div class="progress">
                                    <div class="determinate" style="width: 70%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s6 m6 l3">
                        <div class="card">
                            <div class="card-image">
                                <img class="responsive-img" src="../../../assets/images/bootstrap.png" alt="Bootstrap logo">
                            </div>
                            <div class="card-content">
                                <p>70%</p>
                                <div class="progress">
                                    <div class="determinate" style="width: 70%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s6 m6 l3">
                        <div class="card">
                            <div class="card-image">
                                <img class="responsive-img" src="../../../assets/images/angular.png" alt="Angular logo">
                            </div>
                            <div class="card-content">
                                <p>70%</p>
                                <div class="progress">
                                    <div class="determinate" style="width: 70%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s6 m6 l3">
                        <div class="card">
                            <div class="card-image">
                                <img class="responsive-img" src="../../../assets/images/ionic.png" alt="Ionic logo">
                            </div>
                            <div class="card-content">
                                <p>70%</p>
                                <div class="progress">
                                    <div class="determinate" style="width: 70%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s6 m6 l3">
                        <div class="card">
                            <div class="card-image">
                                <img class="responsive-img" src="../../../assets/images/github.png" alt="Github logo">
                            </div>
                            <div class="card-content">
                                <p>70%</p>
                                <div class="progress">
                                    <div class="determinate" style="width: 70%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s6 m6 l3">
                        <div class="card">
                            <div class="card-image">
                                <img class="responsive-img" src="../../../assets/images/nodejs.png" alt="Node js logo">
                            </div>
                            <div class="card-content">
                                <p>70%</p>
                                <div class="progress">
                                    <div class="determinate" style="width: 70%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="s3">
            <div class="container">
                <div class="row">
                    <div class="col s12 m12 l6">
                        <h4 class="title">Cursos</h4>
                        <ul class="collection">
                            <li class="collection-item avatar">
                                <img src="../../../assets/images/MVAlogo.jpg" alt="Microsoft virtual academy Logo" class="circle">
                                <span class="title">Microsoft virtual academy</span>
                                <p>Desarrollando en windows 8 <br> Agosto 2013</p>
                            </li>
                            <li class="collection-item avatar">
                                <img src="../../../assets/images/googleActivateLogo.png" alt="Google activate Logo" class="circle">
                                <span class="title">Google activate</span>
                                <p>Curso básico de Marketing Digital <br> Noviembre 2015</p>
                            </li>
                            <li class="collection-item avatar">
                                <img src="../../../assets/images/udemyLogo.jpg" alt="Udemy Logo" class="circle">
                                <span class="title">Udemy</span>
                                <p>Diseño web profesional <br> Diciembre 2017</p>
                            </li>
                            <li class="collection-item avatar">
                                <img src="../../../assets/images/platziLogo.png" alt="Platzi Logo" class="circle">
                                <span class="title">Platzi</span>
                                <p>Css grid layout <br> Agosto 2019</p>
                            </li>
                            <li class="collection-item avatar">
                                <img src="../../../assets/images/udemyLogo.jpg" alt="Udemy Logo" class="circle">
                                <span class="title">Udemy</span>
                                <p>Javascript 2020 curso desde principiante hasta profesional <br> Junio 2020</p>
                            </li>
                            <li class="collection-item avatar">
                                <img src="../../../assets/images/udemyLogo.jpg" alt="Udemy Logo" class="circle">
                                <span class="title">Udemy</span>
                                <p>UX master en diseño web y experiencia de usuario <br> Junio 2020</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col s12 m12 l6">
                        <h4 class="title">Estudios</h4>
                        <ul class="collection">
                            <li class="collection-item avatar">
                                <img src="../../../assets/images/uniminuto.png" alt="Universidad minuto de dios Logo" class="circle">
                                <span class="title">Uniminuto</span>
                                <p>Tecnologo en informatica<br> Noviembre 2017</p>
                            </li>
                            <li class="collection-item avatar">
                                <img src="../../../assets/images/cun.png" alt="Cun Logo" class="circle">
                                <span class="title">Corporación unificada nacional de educación superior</span>
                                <p>Ingenieria de sistemas <br> Cursando</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="row">
                    <div class="col s12 m12 l12">
                        <h4 class="title">Experiencia</h4>
                        <ul class="collection">
                            <li class="collection-item avatar">
                                <img src="../../../assets/images/norventas.png" alt="Norventas S.A.S Logo" class="circle">
                                <span class="title">Norventas S.A.S</span>
                                <p>Tecnico IT <br> Septiembre 2014 - Agosto 2017</p>
                            </li>
                            <li class="collection-item avatar">
                                <img src="../../../assets/images/alunIdeas.png" alt="Alun ideas Logo" class="circle">
                                <span class="title">Alun ideas</span>
                                <p>Desarrollador web <br> Noviembre 2017 - Febero 2020</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="s4">
            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <h2>
                            <a href="mailto:jhoncardenas.11@gmail.com">jhoncardenas.11@gmail.com</a>
                        </h2>
                        <p>Si estas interesado en trabajar en algun nuevo proyecto no dudes en contactarme</p>
                        <p class="title">Sigueme</p>
                        <div class="socialMedia">
                            <a href="https://www.instagram.com/jhoncardenasc11/" target="_blank">
                                <i class="fab fa-instagram-square"></i>
                            </a>
                            <a href="https://twitter.com/jhoncardenasc11" target="_blank">
                                <i class="fab fa-twitter-square"></i>
                            </a>
                            <a href="https://www.linkedin.com/in/jhoncardenas11/" target="_blank">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <a href="https://github.com/jhoncardenas11" target="_blank">
                                <i class="fab fa-github-square"></i>
                            </a>
                            <a href="https://wa.me/573214847697" target="_blank">
                                <i class="fab fa-whatsapp-square"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</main>
